/* Login.module.css */

@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
 
}


.textType {
  color: #090a0a; 
  font-weight:bolder;
  padding-top: 15px;
  font-size: 20px;
}

p {
  font-size: 14px; 
  color: #060706; 
}

.username {
  font-size: 13px; 
  color: #070606;
}

.password {
  font-size: 13px; 
  color: #080606; 
}

.forgetPass {
  font-size: 14px; 
  color: #007bff; 
}

.btn-primary {
  font-size: 16px; 
}
